<a href="https://colab.research.google.com/github/Nissun662/Data-Visual/blob/main/Exam3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exam 3
##CPSMA 4313
Nishan Sunar
250662

In [18]:
#Libraries
import pandas as pd

##Refrences

1. https://github.com/nurfnick/Data_Viz
2. https://github.com/Nissun662/Data-Visual



I attest that the resources above were the only ones utilized in completing
the exam and the work included is my own and no one else from the course.

##a) (10 points) Store the data as a pandas dataframe. Find your favorite ‘club’ or ‘nationality’ (that is present in the data!), include a picture that represents them and include it in your notebook. (If no favorite, just pick one!)

In [19]:
df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/worldCupPlayer.csv')
df.head(200)

,Unnamed: 0,Rank,player,club,age,Apps,Mins,Goals,Assists,Yel,Red,SpG,PS,AerialsWon,MotM,Rating,nationality
0,0,1,Hakim Ziyech,Ajax,25,34,3043,9,15,4,0,4.9,75.4,0.2,9,8.21,Morocco
1,2,2,Alireza Jahanbakhsh,AZ Alkmaar,24,33,2840,21,12,3,0,4.3,73.4,0.7,14,8.20,Iran
2,4,3,Hirving Lozano,PSV Eindhoven,22,29,2350,17,8,4,2,3.4,75.3,0.6,8,7.90,Mexico
3,6,11,Lasse Schone,Ajax,32,27(3),2350,10,3,6,0,1.9,87.0,1.9,2,7.45,Denmark
4,10,25,Santiago Arias,PSV Eindhoven,26,30,2664,3,6,5,0,1.5,82.3,1,2,7.25,Colombia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,382,6,Lionel Messi,Barcelona,30,8(2),783,6,2,2,0,4.4,81.5,0.2,6,8.03,Argentina
196,383,2,Cristiano Ronaldo,Real Madrid,33,27,2293,26,5,1,0,6.6,81.6,1.3,7,7.94,Portugal
197,384,4,Cristiano Ronaldo,Real Madrid,33,13,1170,15,3,2,0,6.3,81.4,1.7,4,8.12,Portugal
198,385,3,Luis Suarez,Barcelona,31,32(1),2902,25,12,9,0,3.7,76.9,0.4,5,7.72,Uruguay
199,386,203,Luis Suarez,Barcelona,31,10,884,1,3,2,0,3.2,72.6,0.5,0,6.80,Uruguay

My favourite team from world cup has always been Argentina.

#[Argentina](https://www.aa.com.tr/en/world-cup-2018/fifa-world-cup-2018-group-d-argentina/1169546)

##FIFA World Cup 2018



![](https://cdnuploads.aa.com.tr/uploads/Contents/2018/06/08/thumbs_b_c_502b2c9ba0572f241a82a1cf62720ed6.jpg?v=162936)

##(b) (10 points) Show a table with all the data about your favorite club or nationality. Include some description about an interesting fact in the data.