<a href="https://colab.research.google.com/github/Nissun662/Data-Visual/blob/main/Quiz15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Processing and Visualization
##Nishan Sunar
250662

#Today's Assignment: Strings & cleaning dataframe
Using the techniques discussed in class for regular expressions, clean up the column names in the dataframe df1. Get rid of notes, parentheticals and spaces. Decide on a capitalization scheme for all column names and apply it.

In [ ]:
#Importing all libraries
import numpy as np
import pandas as pd
import requests 
from scipy import stats 
from bs4 import BeautifulSoup 
import matplotlib.pyplot as plt 
import seaborn as sns 
import re

In [ ]:
r = requests.get('https://en.wikipedia.org/wiki/List_of_highest_mountains_on_Earth')
html_contents = r.text
html_soup = BeautifulSoup(html_contents,"lxml")
tables = html_soup.find_all('table',class_="wikitable")

df1 = pd.read_html(str(tables))[0]
df1.columns = df1.columns.droplevel(0).droplevel(0)
df1.head()

  Rank[dp 1]  ... Country (disputed claims in italics)
0          1  ...                           NepalChina
1          2  ...              Pakistan[dp 8]China[12]
2          3  ...                           NepalIndia
3          4  ...                           NepalChina
4          5  ...                           NepalChina

[5 rows x 13 columns]

In [ ]:
df1.columns

Index(['Rank[dp 1]', 'Mountain name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates[dp 4]', 'Parent mountain[dp 5]', '1st', 'y', 'n',
       'Country (disputed claims in italics)'],
      dtype='object')

Here I am going to get rid of spaces, notes and parenthesis.

In [ ]:
df1.columns.map(lambda s: re.sub(r" ", "",s)) #removes space

Index(['Rank[dp1]', 'Mountainname(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates[dp4]', 'Parentmountain[dp5]', '1st', 'y', 'n',
       'Country(disputedclaimsinitalics)'],
      dtype='object')

In [ ]:
df1.columns.map(lambda s: re.sub(r"\[(.+)\]","",s)) #remove notes

Index(['Rank', 'Mountain name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates', 'Parent mountain', '1st', 'y', 'n',
       'Country (disputed claims in italics)'],
      dtype='object')

In [ ]:
df1.columns.map(lambda s: re.sub(r"\((.+)\)","",s))#removes parenthesis

Index(['Rank[dp 1]', 'Mountain name', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates[dp 4]', 'Parent mountain[dp 5]', '1st', 'y', 'n',
       'Country '],
      dtype='object')

In [ ]:
df1.iloc[:,-1]

0                            NepalChina
1               Pakistan[dp 8]China[12]
2                            NepalIndia
3                            NepalChina
4                            NepalChina
                     ...
115                               China
116                          NepalChina
117                  BhutanChina[dp 18]
118    IndiaChina[dp 10][dp 11]'[dp 12]
119                      Pakistan[dp 8]
Name: Country (disputed claims in italics), Length: 120, dtype: object

  As I could clearly see, the datasets in the right side of the column looks ugly. So, to fix it and make it look more nicer, I am going to remove the notes [dp 8], spaces and any delimiters which are not necessary to be displayed in the dataset.
  To do so, I'll use the  `RegEx package` which focuses on user desired character to modify the data. Furthermore, to capitalize my dataset I can put them is proper order, clear unnecessary headings and put them in table format.